---
layout: default
title: Home
---

<div>
  <h1>About</h1>
  <ul>
    <li>Meetings take place on Hangouts, are recorded, and published as videos.</li>
    <li>Anyone is free to join the discussions, however, being familiar with the topic is recommended.</li>
    <li>5-15 minutes presentations on the topic are welcomed.</li>
  </ul>
  <h3>Upcoming / Most Recent</h3>
  <ul class="post-list">
    {% for post in site.posts limit:1 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b
            %-d, %Y" }} @ {{ post.date | date: "%H:%M" }} UTC</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<h3>Past</h3>

<ul class="post-list">
  {% for post in site.posts offset:1 %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} @ {{
          post.date | date: "%H:%M" }} UTC</span>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
