---
layout: default
title: Home
---

<div>
  <h1>About</h1>
  <ul>
    <li>Meetings take place on Hangouts, are recorded, and published as <a href="https://www.youtube.com/playlist?list=PLPwc75tPMdsgTYlu9dJZlosCm0s7WmIpF">videos on YouTube.</a></li>
    <li>Anyone is free to <a href="https://hangouts.google.com/call/CQ1iuILE1j2js95DzgrzAEEE">join the discussions,</a> however, being familiar with the topic is recommended.</li>
    <li><a href="https://hangouts.google.com/call/JOwCBnUEZ9ePMvXtnXkbAEEE">Backup link to join</a> if the above does not work.</li>
    <li>5-15 minutes presentations on the topic are welcomed.</li>
  </ul>

  <h1>Upcoming</h1>
  <ul class="post-list">
    {% assign curDate = site.time | date: '%s' %}
    {% for post in site.posts %}
      {% assign postStartDate = post.date | date: '%s' %}
      {% if postStartDate >= curDate %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b
              %-d, %Y" }} @ {{ post.date | date: "%H:%M" }} UTC</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Past</h2>
  <ul class="post-list">
    {% assign curDate = site.time | date: '%s' %}
    {% for post in site.posts %}
      {% assign postStartDate = post.date | date: '%s' %}
      {% if postStartDate <= curDate %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} @ {{
              post.date | date: "%H:%M" }} UTC</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  </div>
