<header class="site-header">
  <div class="wrapper">
    <a href="/" class="logo">
      <svg height="36" width="240" font-size="20" font-weight="bolder">
        <text x="0" y="30" fill="white">Wasabi Research Club</text>
      </svg>
    </a>
    <nav class="site-nav">
      <ul>
        <li>
          <a href="https://github.com/zkSNACKs/WasabiResearchClub"
             class="link-nav">GitHub</a>
        </li>
        <li>
          <a href="https://github.com/6102bitcoin/CoinJoin-Research"
             class="link-nav">Resources</a>
        </li>
        <li>
          <a href="https://www.youtube.com/playlist?list=PLPwc75tPMdsgTYlu9dJZlosCm0s7WmIpF"
             class="link-nav">Videos</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
